body {
  background-color: #c2bdcf;
  font-family: "Langar", system-ui;
  font-weight: 400;
  font-style: normal;
}

.weather-app {
  background-color: #ffffff;
  max-width: 600px;
  margin: 45px auto;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 18px;
  padding: 30px;
}
