body {
  background-color: #c2bdcf;
  font-family: "Langar", system-ui;
  font-weight: 400;
  font-style: normal;
}

header {
  border-bottom: 2px solid #c2bdcf;
  padding: 30px 0;
}

.weather-city {
  margin: 0;
  font-size: 48px;
  line-height: 60px;
}

.weather-data {
  font-size: 18px;
  line-height: 24px;
  font-weight: 400;
  color: rgba(39, 33, 66, 0.4);
}

.weather-data strong {
  color: #745a83;
  font-weight: 500;
}

.weather-temp-container {
  display: flex;
}

a {
  color: #3f3d41;
}

main {
  padding: 30px;
}
.weather-app {
  background-color: #ffffff;
  max-width: 500px;
  margin: 45px auto;
  border: 4px solid #111111;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 18px;
  padding: 30px;
}

.search-input {
  background-color: #e8e4ef;
  width: 71%;
  padding: 10px;
  border-radius: 5px;
  border: 2px solid #111111;
  font-family: "Langar", system-ui;
  font-size: 16px;
}

.search-form-button {
  background-color: #6c6a6f;
  padding: 10px 41px;
  margin-left: 7px;
  border-radius: 5px;
  border: 2px solid #111111;
  font-family: "Langar", system-ui;
  font-size: 16px;
  cursor: pointer;
}

.weather-app-data {
  display: flex;
  justify-content: space-between;
}

footer {
  border-top: 2px solid #c2bdcf;
  padding: 20px 0 0 0;
  font-size: 14px;
  text-align: center;
  color: rgba(0, 0, 0, 0.6);
}
